.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 40%;
}
.openList{
    display: none;
}
.closeList{
    display: none;
}
@media (max-width: 480px) {
    .list{
        display: none;
        z-index: 999;
        transition: transform 0.3s ease-in-out;
    }
    .resList{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-color: black;
        width: 70vw;
        list-style: none;
        transition: transform 0.3s ease-in-out;
        transform: translateX(500%);
    }
    .openList{
        display: block;
    }
    .closeList{
        display: block;
    }
}